################################################################################
## ~/.inputrc
##
## Control the behaviour of the readline library used e.g.
## by the bash in the interactive mode for line editing.
##
################################################################################
#
# The bell style used e.g. on error or tab completion, possible values
# are `none', `visible', and `audible' the ringing the bell.
#
set bell-style none

#
# If set to on, words which have more than one possible completion without
# any possible partial completion cause the matches to be listed immediately
# instead of ringing the bell.
#
set show-all-if-unmodified on

#
# If set to on, words which have more than one possible completion cause the
# matches to be listed immediately instead of ringing the bell.
#
#set show-all-if-ambiguous on

# Enable case-insensitive tab completion
set completion-ignore-case on

#
# end
#

## mappings for making up and down arrow searching through history
#"\e[A": history-search-backward
#"\e[B": history-search-forward
#"\e[C": forward-char
#"\e[D": backward-char
## mappings for ctrl-p and ctrl-n searching through history
#"\C-p": history-search-backward
#"\C-n": history-search-forward

#Use tab to cycle through all the possible completions.
#"\t": menu-complete
#"\e[Z": menu-complete-backward
"\e[Z": menu-complete
